/* .ContactTop {
  width: 100%;
  height: 800px;
  background-color: white;
  padding-top: 60px;
} */

#contact {
  width: 100%;
  height: 500px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-family: "Cafe24Ohsquare";
  /* background-image: linear-gradient(#1a1a17,#ff8400, #b9b4b7); */
  /* background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #000000); */
  background-attachment: fixed;
  overflow: hidden;
  position: relative;


}

.text {
  font-size: 2.5em;
  margin-bottom: 3vh;
}
.text_small {
  font-size: 1.4em;
  margin-bottom: 1.8vh;
  color: rgb(141, 141, 141); /* 텍스트 색상 변경 */

  /* text-align: justify; */
}
.text_small_1 {
  font-size: 1.3em;
  margin-bottom: 1.6vh;
  font-weight: bold; /* 굵게 */
  /* background-color: yellow; 배경색 강조 */
  color: rgb(0, 0, 0); /* 텍스트 색상 변경 */
  /* text-align: justify; */
}

.text_small_h {
  font-size: 0.8em;
  margin-bottom: 0.5vh;
  color: rgb(142, 131, 131); /* 텍스트 색상 변경 */

  /* text-align: justify; */
}
.text_small_1_h {
  font-size: 0.8em;
  margin-bottom: 1.3vh;
  font-weight: bold; /* 굵게 */
  /* background-color: yellow; 배경색 강조 */
  color: rgb(142, 131, 131); /* 텍스트 색상 변경 */
  /* text-align: justify; */
}
.text_small_2 {
  font-size: 0.7em;
  margin-bottom: 1.2vh;
  /* text-align: justify; */
  color: rgb(141, 141, 141); /* 텍스트 색상 변경 */
}


.Row {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.line {
  width: 60vw;
  border: 1px solid rgb(223, 218, 218);
}



/* 
@media (max-width: 1780px) {
  .about {
    width: 100%;
    height: 450px;
  }

  .text {
    font-size: 2.5em;
  }
  .text_small_about {
    font-size: 1.4em;
  }

}
@media (max-width: 940px) {
  .about {
    width: 100%;
    height: 80px;
  }

  .text {
    font-size: 1.8em;
  }
  .text_small_about {
    font-size: 0.8em;
  }

} */
